.svg {
  display: inline-block;

  &__root {
    width: 45px;
    height: 45px;
    fill: $color-primary;
    transition: fill .3s ease, stroke-width .3s ease;
  }

  &:active .svg__root,
  .svg__root:active {
    fill: $color-primary_shade;
  }
}